---
import '../styles/variables.css';
import '../styles/base.css';
import '../styles/responsive.css';
import ThemeToggle from '../components/ThemeToggle.astro';

const { title = "Portfolio de Franco Rigante - Desarrollador Web" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content="Astro" />
		<!-- Es recomendable que cada página tenga un título único y descriptivo, por es común usar props en el layout -->
		<title>{title}</title>
	</head>
	<body>
		<ThemeToggle />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
